<!-- 
Course: WEBD-3008
Instructor: Wilson Reid
Author: Will Bowyer
Date Created: 27-10-24
Last Updated: 1-11-24
-->

<!DOCTYPE html>
<html lang="en">
<head>
  <title><%= content_for(:title) || "Rails Project" %></title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="mobile-web-app-capable" content="yes">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= yield :head %>

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" crossorigin="anonymous">
  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= javascript_importmap_tags %>
</head>

<body>
  <header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container">
        <a class="navbar-brand" href="#">Library</a>
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item"><%= link_to 'Home', root_path, class: 'nav-link' %></li>
          <li class="nav-item"><%= link_to 'About', about_path, class: 'nav-link' %></li>
          <li class="nav-item"><%= link_to 'Books', books_path, class: 'nav-link' %></li>
          <li class="nav-item"><%= link_to 'Categories', categories_path,  class: 'nav-link' %></li> 
          <li class="nav-item"><%= link_to 'Authors', authors_path,  class: 'nav-link' %></li> 
        </ul>
      </div>
    </nav>
  </header>

  <main class="container my-4">
    <%= yield %>
  </main>
</body>
</html>
